/* Body */
body {
  background-color: #efeee7;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-size: 18px;
}
/* Header */
header {
  background: #333;
}

h1 {
  background-color: #333333;
  color: #eee;
  font-size: 28px;
  margin: 0px;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* Link */
a {
  color: #d21034;
}

/* IDs */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

/* Main bio */
#main-bio {
  width: 60%;
}

/*Contact Information */
#contact-info {
  width: 40%;
}

/* Bio Image */
#bio-image {
  width: 200px;
  margin-right: 20px;
}
